# Admins
* @Comfy-Org/comfy_desktop_devs

# Maintainers
*.md @Comfy-Org/comfy_maintainer
/tests/ @Comfy-Org/comfy_maintainer
/.vscode/ @Comfy-Org/comfy_maintainer
/.github/ @Comfy-Org/comfy_maintainer
