# .github/workflows/debug_macos.yml
name: Build App Macos Debug

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-macos:
    runs-on: macos-latest
    steps:
      - name: Blank
        run: echo "Intentionally left blank"
      